body
{
    background: url(./asset/image/IMG_9558.JPG);
    background-size: cover;
	font-size: 12px;
}
a
{
	color: yellow;
	font-family: tahoma, Geneva, sans-serif;
	margin-left: 30px;
	
}
.cong
{
	background: lightgreen;
	padding: 40px;
/*	margin-top: 80px;*/
	height: 200px;
	margin-left: 180px;
	margin: 0 auto;
	margin-top: 120px;
	width: 350px;
}
h2
{
	margin-top: 50px;
	margin-left: 16px;
}