body
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    background-color: rgb(95, 168, 95);
    background-size: cover;
}
.signup
{
	background: lightgreen;
	padding: 80px;
	width: 400px;
	height: 560px;
	margin-top: 90px;
	margin-left: 180px;
	margin: 0 auto;
}
form
{
	width: 240px;
	text-align: center;
}
input
{
	width: 240px;
	text-align: center;
	background: transparent;
	border: none;
	border-bottom: 1px solid white;
	font-family: 'Play', sans-serif;
	font-size: 16px;
	font-weight: 200px;
	padding: 10px 0;
	transition: border 0.5s;
	outline: none;
	color: black;
}
input[type=button]
{
	border: none;
	width: 190px;
	background: rgb(39, 109, 39);
    color: black;
	font-size: 16px;
    line-height: 25px;
	padding: 10px 0;
	border-radius: 15px;
	cursor: pointer;
/*	text-decoration: none;*/
}
 input[type=button]:hover
{
	color: white;
	background-color: lightgreen;
}
h2
{
	color: #000;
}
::placeholder {
	color: black;
	opacity: 0.8; /*Firefox*/
}